* {
  box-sizing: border-box;
}

ul, h1, h2, h3, p, img, button {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #e5e5e5;
}

.header {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {}

.header__logo {
  position: relative;
  top: 3px;
  margin-right: auto;
}
.header__logo-mobile {

}
.navigation {
  display: flex;
  /* width: 1770px;
  margin: 0 auto; */
  padding-top: 11px;
  padding-bottom: 15px;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  margin-right: 134px;
  padding-top: 10px;
  justify-content: space-between;
}

.navigation__item {}

.navigation__link {
  position: relative;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}

.navigation__link:after {
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  top: 30px;
  left: 50%;
  background-color: #FF9900;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.navigation__link:hover::after, .navigation__link:focus::after {
  width: 100%;
}

.navigation__item:not(:first-child) {
  margin-left: 100px;
}

.search {
  display: block;
  position: relative;
  top: 6px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: color 300ms;
}

.search:hover .search__icon, .search:focus .search__icon {
  color: #FF9900;
}

.header__burger {
  display: none;
  position: relative;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.line {
  display: block;
  position: relative;
  width: 100%;
  height: 3px;
  background-color: black;
}

.firstline {
  top: -5px;
}

.secondline {
  top: 2px;
}

.thirdline {
  top: 9px;
}

.checkbox {
  display: none;
  justify-content: center;
}

.checkbox__label {
  display: block;
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50px;
}

.checkbox__label-checked {
  background-color: #fff;
}

.checkbox__label:not(:last-child) {
  margin-right: 20px;
}

.checkbox__input {
  display: none;
}

.main {
  background-color: #FFFFFF;
}

.container {
  margin: 0 auto;
  padding: 0 74px;
  max-width: 1920px;
}

.hero {
  margin-bottom: 103px;
  background: url('../img/hero.jpg') center/cover no-repeat;
  padding: 106px 0 91px 78px;
}

.hero__title {
  max-width: 1100px;
  margin-bottom: 18px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  letter-spacing: 2.3px;
  color: #FFFFFF;
}

.hero__text {
  max-width: 900px;
  margin-bottom: 100px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.button {
  background-color: #FF9900;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero__button {
  display: inline-block;
  padding: 26px 40px;
}

.hero__button:hover, .hero__button:focus {
  filter: opacity(70%);
}

/* about us */

.about-us__texticon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/icons/i.svg') 80% 100% no-repeat;
}

.about-us {
  margin-bottom: 100px;
}

.title {
  margin-bottom: 24px;
  font-size: 48px;
  letter-spacing: -1px;
}

.about-us__decription {
  max-width: 1236px;
  margin-bottom: 44px;
  line-height: 32px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.article {
  display: flex;
  max-width: 49%;
  background-image: url('../img/rectangle2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.article__innerwrap {
  display: flex;
  align-self: flex-end;
  height: 11em;
  padding: 40px 64px 36px 54px;
  background-image: url('../img/rectangle5.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.article__text {
  margin-right: 70px;
  line-height: 31px;
  font-weight: 700;
  color: #FFFFFF;
}

.atricle__button {
  display: inline-block;
  align-self: center;
  padding: 19px 37px;
  border: 2px solid #FF9900;
  color: #FFFFFF;
  font-weight: 700;
}

.atricle__button:hover, .atricle__button:focus {
  background-color: #FF9900;
}

.cards__list {
  width: 49%;
}

.cards__items {
  padding: 78px 109px 56px 298px;
  border: 1px solid #CACACA;
}

.cards__title {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 700;
}

.cards__title-marginright:focus, .cards__title-marginright:hover {
  color: #FF9900;
}

.cards__text {
  line-height: 32px;
}

.cards__items:first-child {
  background: url('../img/icons/package.svg') no-repeat 17% 46%, url('../img/icons/ellipse6.svg') no-repeat 11% 54%;
}

.cards__items:not(:last-child) {
  margin-bottom: 29px;
}

.cards__items:nth-child(2) {
  background: url('../img/icons/settings.svg') no-repeat 18% 34%, url('../img/icons/ellipse6.svg') no-repeat 11% 52%;
}

/* How we work */

.ourworkprocess {
  margin-bottom: 102px;
}

.ourworkprocess__title {
  margin-bottom: 55px;
}

.ourworkprocess__steplist {
  display: flex;
  margin-bottom: 49px;
}

.ourworkprocess__steps:not(:last-child) {
  margin-right: 97px;
}

.ourworkprocess__link:focus, .ourworkprocess__link:hover, .ourworkprocess__link:active {
  color: #FF9900;
}

.active {
  color: #FF9900;
}

.ourworkprocess__innerwrap {
  display: flex;
  justify-content: space-between;
}

.ourworkprocess__article {
  width: 43%;
  object-fit: cover;
}

.ourworkprocess__text {
  margin-bottom: 62px;
}

.ourworkprocess__buttonwrap {
  display: inline-block;
}

.ourworkprocess__yellowbutton {
  display: inline-block;
  margin-right: 30px;
  padding: 20px 38px;
  color: #FFFFFF;
  background-color: #FF9900;
}

.ourworkprocess__whitebutton {
  display: inline-block;
  padding: 20px 38px;
  border: 1px solid #e5e5e5;
}

.ourworkprocess__whitebutton:hover, .ourworkprocess__whitebutton:focus {
  color: #FFFFFF;
  background-color: #333333;
}

.ourworkprocess__picture {
  width: 49%;
  object-fit: cover;
}

/* FAQ */

.faq {
  padding-bottom: 96px;
}

.faq__title {
  margin-bottom: 35px;
}

.faq__list {}

.faq__item {
  border-top: 1px solid #e5e5e5;
}

.faq__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.cards__title-marginright {
  display: inline-block;
  padding: 40px 10px;
  color: #222222;
  width: 100%;
  text-align: start;
  background-color: #FFFFFF;
  background: url('../img/icons/+х.png') 100% 55% no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
  outline: none;
  border: none;
  cursor: pointer;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 75px;
  background-color: #222222;
}

.footer__leftside {
  margin-right: auto;
  width: 20%;
}

.footer__logo-tablet {}

.footer__text {
  margin-bottom: 40px;
  color: #CACACA;
  line-height: 32px;
}

.footer__sociallist {
  display: flex;
}

.footer__socialitem {}

.footer__socialitem:not(:last-child) {
  margin-right: 23px;
}

.footer__facebook {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../img/icons/fb.png') no-repeat;
}

.footer__vk {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../img/icons/vk.png') no-repeat;
}

.footer__instagam {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../img/icons/instagram.png') no-repeat;
}

.footer__centreside {
  margin-right: auto;
  padding-top: 10px;
  padding-right: 85px;
}

.footer__title {
  margin-bottom: 24px;
  font-weight: 400;
  color: #CACACA;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  margin-bottom: 24px;
  padding-left: 20px;
  height: 60px;
  max-width: 570px;
  width: 100%;
  background-color: #414141;
}

.footer__input::placeholder {
  color: #CACACA;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.footer__textarea {
  width: 570px;
  padding-left: 20px;
  padding-top: 21px;
}

.footer__textarea::placeholder {
  color: #CACACA;
}

.footer__buttonwrapper {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.footer__button {
  margin-right: 25px;
  width: 265px;
  height: 60px;
  background-color: #FF9900;
  color: #FFFFFF;
  cursor: pointer;
}

.checkbox_label {
  align-self: center;
  color: #CACACA;
}

.footer__rightside {
  padding-top: 35px;
  padding-right: 13px;
}

.footer__logo-desktop {
  display: none;
}

.footer__navlist {}

.footer__navitem {}

.footer__navlink {
  color: #CACACA;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}

.d-none {}

.footer__sociallist-tablet {
  display: none;
}

@media(max-width: 1600px) {
  .cards__items {
    padding: 78px 46px 56px 280px;
  }
}

@media(max-width: 1440px) {
  .hero {
    padding-right: 120px;
    padding-bottom: 30px;
  }
  .hero__title {
    font-size: 60px;
    line-height: 73px;
  }
  .hero__text {
    margin-bottom: 110px;
    font-size: 20px;
    line-height: 24px;
  }
  .header__logo {
    margin-right: 25px;
    height: 48px;
    width: 150px;
  }
  .navigation {
    margin-right: 0;
  }
  .navigation__list {
    margin-right: 72px;
  }
  .navigation__link {
    font-size: 16px;
    font-weight: 400;
  }
  .navigation__item:not(:first-child) {
    margin-left: 49px;
  }
  .cards {
    flex-wrap: wrap;
  }
  .cards__items:first-child {
    background: url(../img/icons/package.svg) no-repeat 11% 46%, url(../img/icons/ellipse6.svg) no-repeat 6% 54%;
  }
  .cards__items:nth-child(2) {
    background: url(../img/icons/settings.svg) no-repeat 12% 34%, url(../img/icons/ellipse6.svg) no-repeat 6% 52%;
}
  .article {
    padding-top: 446px;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .article__text {
    line-height: 35px;
  }
  .article__innerwrap {
    padding: 43px 44px 40px;
  }
  .cards__list {
    width: 100%;
  }
  .cards__title {
    font-size: 20px;
  }
  .cards__title-marginright {
    padding-right: 170px;
    width: 100%;
  }
  .footer__logo-desktop {
    display: none;
  }
  .footer__logo-tablet {
    display: block;
  }
  .d-none {
    display: none;
  }
  .footer {
    justify-content: space-between;
  }
  .footer__centreside {
    margin-right: 0;
  }
  .footer__sociallist-tablet {
    display: flex;
    margin-top: 31px;
  }
  .footer__logo-desktop {
    display: block;
  }
}

@media(max-width: 1025px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1024px;
  }
  .header {
    padding-bottom: 12px;
  }
  .hero {
    margin-bottom: 61px;
    padding: 162px 45px 31px 45px;
  }
  .hero__title {
    letter-spacing: 1px;
    margin-bottom: 9px;
  }
  .hero__text {
    max-width: 80%;
  }
  .header__burger {
    display: inline-block;
  }
  .hero__button {
    margin-bottom: 69px;
    padding: 26px 38px;
  }
  .checkbox {
    display: flex;
  }
  .title {
    font-weight: 400;
  }
  .about-us__decription {
    margin-bottom: 62px;
  }
  .article {
    padding-top: 477px;
  }
  .article__innerwrap {
    padding: 36px 51px 37px 44px;
  }
  .article__text {
    margin-right: auto;
    max-width: 60%;
    line-height: 33px;
  }
  .cards__items {
    padding: 70px 90px 59px 365px;
  }
  .cards__title {
    margin-bottom: 6px;
    font-size: 24px;
  }
  .cards__title-marginright {
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 40px;
    padding-bottom: 45px;
    font-size: 20px;
  }
  .cards__items:not(:last-child) {
    margin-bottom: 40px;
  }
  .cards__items:nth-child(2) {
    background: url('../img/icons/settings.svg') no-repeat 20% 34%, url('../img/icons/ellipse6.svg') no-repeat 13% 52%;
  }
  .cards__items:first-child {
    background: url('../img/icons/package.svg') no-repeat 19% 42%, url('../img/icons/ellipse6.svg') no-repeat 13% 50%;
  }
  .ourworkprocess__article {
    width: 47%;
  }
  .navigation__item:not(:first-child) {
    margin-left: 64px;
  }
  .about-us {
    margin-bottom: 62px;
  }
  .ourworkprocess__picture {
    width: 47%;
  }
  .ourworkprocess__text {
    margin-bottom: 28px;
  }
  .ourworkprocess {
    margin-bottom: 62px;
  }
  .faq {
    padding-bottom: 47px;
  }
  .faq__title {
    margin-bottom: 38px;
  }
  /* .faq__item {
     padding-top: 13px;
  } */

  .footer__centreside {
    margin-right: 57px;
    padding-right: 0;
  }
  .footer__rightside {
    padding: 0;
    align-self: flex-start;
  }
  .footer {
    padding-top: 48px;
    padding-bottom: 74px;
    justify-content: start;
  }
  .footer__logo-desktop {
    margin-bottom: 10px;
  }
  .footer__navitem {
    margin-bottom: 13px;
  }
  .footer__button {
    margin-right: 21px;
    width: 243px;
  }
}

@media(max-width: 955px) {
  .navigation__list {
    display: none;
  }
  .search {
    margin-left: auto;
    margin-right: 25px;
  }
  .footer {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__centreside {
    margin-right: 0;
  }
  .footer__rightside {
    margin-top: 50px;
  }
  .footer__navlist {
    display: none;
  }
  .ourworkprocess__picture {
    display: none;
  }
  .ourworkprocess__article {
    width: 100%;
  }
  .footer__button {
    margin-bottom: 11px;
  }
}
@media(max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero {
    padding-top: 120px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero__title {
    font-size: 36px;
    line-height: 40px;
  }
  .hero__text {
    margin-bottom: 80px;
    font-size: 16px;
  }
  .article {
    margin-bottom: 232px;
    padding-top: 250px;
  }
  .article__innerwrap {
    padding: 0;
    flex-direction: column;
    background-image: none;
  }
  .article__text {
    margin-right: 0;
    max-width: 100%;
    color: #000;
    font-weight: 400;
    transform: translateY(200px);
  }
  .atricle__button {
    color: #FF9900;
    align-self: start;
    transform: translateY(220px);
  }
  .cards__items {
    padding: 150px 30px 40px 30px;
  }
  .cards__items:first-child {
    background: url('../img/icons/package.svg') no-repeat 12% 14%/11%, url('../img/icons/ellipse6.svg') no-repeat 7% 22%/9%;
  }
  .cards__items:nth-child(2) {
    background: url('../img/icons/settings.svg') no-repeat 12% 14%/10%, url('../img/icons/ellipse6.svg') no-repeat 7% 22%/9%;
  }
  .footer__input, .footer__textarea  {
    max-width: 600px;
    width: 100%;
  }
  .footer__buttonwrapper {
    flex-direction: column;
  }
}

@media(max-width: 550px) {
  .ourworkprocess__steps:not(:last-child) {
    margin-right: 41px;
  }
  .article {
    margin-bottom: 300px;
  }
}
@media(max-width: 320px) {
  .picture {}
}
