* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;
}

ul, h1, h2, h3, p, img {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background-color: #e5e5e5;
}

.header {
  margin: 0 auto;
  width: 1920px;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  display: flex;
  padding-top: 17px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  width: 1770px;
  margin: 0 auto;
}

.header__logo {
  margin-right: auto;
}

.navigation {
  margin-right: 69px;
}

.navigation__list {
  margin-right: 71px;
  display: flex;
  justify-content: space-between;
}

.navigation__item {}

.navigation__link {
  position: relative;
  font-size: 18px;
  font-weight: 700;
}

.navigation__link:after {
  
  position: absolute;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  top: 30px;
  left: 50%;
  background-color: #FF9900;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.navigation__link:hover::after, 
.navigation__link:focus::after {
  width: 100%;
}

.navigation__item:not(:first-child) {
  margin-left: 100px;
}
.search {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.search:hover .search__icon {
  stroke: #FF9900;
}

.container {
  margin: 0 auto;
  padding: 0 76px 100px;
  width: 1920px;
  background-color: #FFFFFF;
}

.hero {
  margin-bottom: 103px;
  background: url('../img/hero.jpg');
  /* background-attachment: cover; */
  padding: 106px 850px 91px 78px;
}

.hero__title {
  margin-bottom: 18px;
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  letter-spacing: 2.3px;
  color: #FFFFFF;
}

.hero__text {
  margin-bottom: 100px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
}

.button {
  display: inline-block;
  background-color: #FF9900;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero__button {
  display: inline-block;
  padding: 26px 37px;
}

.hero__button:hover,
.hero__button:focus {
  filter: opacity(70%);
}

/* about us */

.about-us__texticon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/icons/i.svg') 80% 100% no-repeat;
}

.about-us {
  margin-bottom: 100px;
}

.title {
  margin-bottom: 24px;
  font-size: 48px;
}

.about-us__decription {
  margin-bottom: 44px;
  padding-right: 540px;
  line-height: 32px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.article {
  display: block;
  width: 50%;
  padding-top: 446px;
  background-image: url('../img/Rectangle2.jpg');
  background-repeat: no-repeat;
}

.aricle__innerwrap {
  display: flex;
  padding: 44px 69px 44px 54px;
  background-image: url('../img/Rectangle5.png');
  background-repeat: no-repeat;
}

.article__text {
  margin-right: 82px;
  max-width: 494px;
  line-height: 31px;
  font-weight: 700;
  color: #FFFFFF;
}

.atricle__button {
  display: inline-block;
  align-self: center;
  padding: 19px 36px;
  border: 2px solid #FF9900;
  color: #FFFFFF;
  font-weight: 700;
}
.atricle__button:hover,
.atricle__button:focus {
  background-color: #FF9900;
}
.cards__list {
  width: 49%;
}

.cards__items {
  padding: 77px 109px 56px 298px;
  border: 1px solid #CACACA;
}

.cards__title {
  margin-bottom: 7px;
  font-size: 24px;
  font-weight: 700;
}
.cards__title-marginright:focus,
.cards__title-marginright:hover {
  color: #FF9900;
}

.cards__text {
  line-height: 32px;
}

.cards__items:first-child {
  background: url('../img/icons/package.svg') no-repeat 17% 46%, url('../img/icons/Ellipse6.svg') no-repeat 11% 54%;
}

.cards__items:not(:last-child) {
  margin-bottom: 29px;
}

.cards__items:nth-child(2) {
  background: url('../img/icons/settings.svg') no-repeat 18% 34%, url('../img/icons/Ellipse6.svg') no-repeat 11% 52%;
}

/* How we work */

.ourworkprocess {
  margin-bottom: 102px;
}

.ourworkprocess__title {
  margin-bottom: 55px;
}

.ourworkprocess__steplist {
  display: flex;
  margin-bottom: 49px;
}

.ourworkprocess__steps:not(:last-child) {
  margin-right: 97px;
}
.ourworkprocess__link:focus,
.ourworkprocess__link:hover,
.ourworkprocess__link:active {
  color: #FF9900;
}


.active {
  color: #FF9900;
}

.ourworkprocess__innerwrap {
  display: flex;
  justify-content: space-between;
}

.ourworkprocess__article {
  width: 43%;
}

.ourworkprocess__text {
  margin-bottom: 62px;
}

.ourworkprocess__buttonwrap {
  display: inline-block;
}

.ourworkprocess__yellowbutton {
  display: inline-block;
  margin-right: 30px;
  padding: 20px 38px;
  color: #FFFFFF;
  background-color: #FF9900;
}

.ourworkprocess__whitebutton {
  display: inline-block;
  padding: 20px 38px;
  border: 1px solid #e5e5e5;
}
.ourworkprocess__whitebutton:hover,
.ourworkprocess__whitebutton:focus {
  color: #FFFFFF;
  background-color: #333333;
}
.ourworkprocess__picture {}

/* FAQ */

.faq {}

.faq__title {
  margin-bottom: 41px;
}

.faq__list {}

.faq__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0;
  
  border-top: 1px solid #e5e5e5;
}

.faq__link {
  
}

.faq__item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.cards__title-marginright {
  display: inline-block;
  margin-right: auto;
  color: #222222;
}

.faq__btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url('../img/icons/+х.png') no-repeat;
  border: none;
  cursor: pointer;
}

/* footer */

.footer {
  margin: 0 auto;
  padding: 49px 40px 40px 40px;
  width: 1920px;
  background-color: #222222;
}

.footer__container {
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  width: 1770px;
}

.footer__leftside {
  margin-right: 247px;
  width: 20%;
}

.footer__logo {}

.footer__text {
  margin-bottom: 50px;
  color: #CACACA;
  line-height: 32.5px;
}

.footer__sociallist {}

.footer__socialitem {
  display: inline-block;
}

.footer__socialitem:not(:last-child) {
  margin-right: 23px;
}

.footer__facebook {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../img/icons/fb.png') no-repeat;
}

.footer__vk {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../img/icons/Vk.png') no-repeat;
}

.footer__instagam {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: url('../img/icons/instagram.png') no-repeat;
}

.footer__centreside {
  margin-right: 330px;
  padding-top: 10px;
}

.footer__title {
  margin-bottom: 25px;
  color: #CACACA;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  margin-bottom: 24px;
  padding-left: 20px;
  height: 60px;
  width: 570px;
  background-color: #414141;
}

.footer__input::placeholder {
  color: #CACACA;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.footer__textarea {
  margin-bottom: 33px;
  width: 570px;
  padding-left: 20px;
  padding-top: 21px;
}

.footer__textarea::placeholder {
  color: #CACACA;
}

.footer__button {
  margin-right: 30px;
  width: 269px;
  height: 60px;
  background-color: #FF9900;
  color: #FFFFFF;
  cursor: pointer;
}

.checkbox_label {
  color: #CACACA;
  letter-spacing: -0.9px;
}

.footer__rightside {
  padding-top: 143px;
}

.footer__navlist {}

.footer__navitem {}

.footer__navlink {
  color: #CACACA;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}